#collapsable-nav{
    text-align: center;
    background-color: black;
    font-size: 1.5em;
}

#header-nav{
    background-color: black;
    border-color:black;
    margin-bottom: 0px;
    
}

#main-section{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    background-color: rgb(216, 216, 216);
    padding-top:25px;
    height: 2000px;
    position: relative;
    margin: 25px auto 25px;
    width: 85%;
    
}

#main-section div p{
    text-transform: capitalize;
    font-size: 0.6em;
}